<div>
   <button ng-click="dc.showNewTopicForm()" class="btn btn-default">
      New Topic
   </button>
</div>

<modal title="Add A New Topic" visible="dc.showModal">
   <form role="form">
      <div class="form-group">
         <label for="title">Title</label>
         <input type="text" class="form-control" ng-model="dc.newTopic.title"/ >
      </div>
      <div class="form-group">
         <label>Description</label>
         <textarea class="form-control" ng-model="dc.newTopic.description"></textarea>
      </div>
      <div class="form-group">
         <label>Topic</label>
         <select class="form-control" ng-model="dc.newTopic.category" ng-options="topic as topic.name for topic in dc.topicCats"></select>
      </div>
      <div class="form-group">
         <button class="btn btn-default" ng-click="dc.addNewTopic();">Submit</button>
      </div>
   </form>
</modal>
<table class="table table-striped">
   <thead>
      <tr>
        <th>
           Topic
        </th>
        <th>
          Category
        </th>
        <th class="cell-stat hidden-xs hidden-sm">Author</th>
        <th class="cell-stat text-center hidden-xs hidden-sm">Posts</th>
        <th class="cell-stat-2x hidden-xs hidden-sm">Last Post</th>
      </tr>
   </thead>
   <tbody>
      <tr ng-repeat="topic in dc.topics" print-topics></tr>
   </tbody>
</table>